<<<<<<< Updated upstream
.title {
    text-align: center;
}

.class0 {
    text-align: center;
=======
.title {
    text-align: center;
}

.class0 {
    text-align: center;
>>>>>>> Stashed changes
  }